{
  "arrowParens": "always",
  "bracketSpacing": false,
  "endOfLine": "lf",
  "insertPragma": false,
  "singleAttributePerLine": false,
  "bracketSameLine": false,
  "proseWrap": "preserve",
  "quoteProps": "as-needed",
  "requirePragma": false,
  "semi": true,
  "singleQuote": true,
  "tabWidth": 4,
  "trailingComma": "es5",
  "useTabs": false,
  "parser": "json"
}